body {
    background-color: white;
}

@media (max-width: 576px) {
    body {
        background-color: blue;
    }

    p {
        color: aliceblue;
    }
}

@media (max-width: 480px) {
    body {
        background-color: yellow;
    }

    p {
        font-size: 50px;
        color: red;
    }
}